<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- rviz 3d visualization of geolocated tracks -->
    <node pkg="flat_earth_geolocation" type="plotter" name="plotter" output="screen">
        <remap from="tracks" to="tracks3d" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find flat_earth_geolocation)/rviz/geolocation_plotter.rviz" />
</launch>